@{
    ViewBag.Title = "Home Page";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Sacraments
    </div>
    <div class="card-body">
        This will display Sacraments and the number of members that have received 
        <br/>
        Still under construction
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            
        });        
    </script>
}