@{
    ViewBag.Title = "Home Page";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Matrimonial Register
        <div class="btn-group" style="float: right; margin-top: 5px; margin-right: 10px;">
            <a class="btn btn-success" href="@Href("~/Sacrament/CreateMatrimony")" title="Click to create a new marraige record"><i class="fa fa-plus" style="margin:0px;"></i> New Record</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="membersTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Bride's name</th>
                        <th>Groom's name</th>
                        <th>Marriage date</th>
                        <th>Marriage place</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S/N</th>
                        <th>Bride's name</th>
                        <th>Groom's name</th>
                        <th>Marriage date</th>
                        <th>Marriage place</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            $('#membersTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/Sacrament/GetMatrimonyMembers/",
                    type: "POST",
                    dataSrc: "data"
                },
                "columns": [
                    { "data": "Serial" },
                    { "data": "BrideFullName" },
                    { "data": "GroomFullName" },
                    { "data": "DateOfMarriage" },
                    { "data": "PlaceOfMarriage" },
                    {
                        "data": "Action",
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-primary" title="View this Marriage Record"><i class="fas fa-fw fa-eye"></i></a>&nbsp;' +
                                '<a class="btn btn-primary" title="Edit this Marriage Record"><i class="fas fa-fw fa-edit"></i></a>';
                        }
                    }
                ]
            });
        });        
    </script>
}