@using StFrancisChurch.Models.Utility
@{
    //var member = (MemberTableModel) ViewBag.member;
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Parish Members Detail
    </div>
    <div class="card-body">
        Under Construction
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            
        });        
    </script>
}