<!DOCTYPE html>
<!-- saved from url=(0034)http://www.allsaints-stpeters.org/ -->
<html lang="en-US" class="csstransforms csstransforms3d csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="RATING" content="GENERAL">
    <meta name="RESOURCE-TYPE" content="DOCUMENT">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <title>@ViewBag.Title</title>
    <meta id="" name="KEYWORDS" content=",St,Francis,Catholic,Church">

    @*<link rel="SHORTCUT ICON" href="http://www.allsaints-stpeters.org/Portals/allsaints-mo/all_saints_favicon.ico?ver=2016-01-21-101719-233" type="image/x-icon">*@
    <link rel="stylesheet" href="~/Content/Style(1).css" type="text/css" media="all">
    <link href="~/Content/Ajax.css" type="text/css" rel="stylesheet" class="Telerik_stylesheet">
    <link href="~/Content/Ajax.Default.css" type="text/css" rel="stylesheet" class="Telerik_stylesheet">
    <link href="~/Content/ToolTip.css" type="text/css" rel="stylesheet" class="Telerik_stylesheet">
    <link href="~/Content/ToolTip.Default.css" type="text/css" rel="stylesheet" class="Telerik_stylesheet">
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Content/default.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/module.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/module(1).css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/module(2).css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/module(3).css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/module(4).css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/SearchSkinObjectPreview.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/skin.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/Home-Design3.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/container.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/portal.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/Events.css" media="all" type="text/css" rel="stylesheet">
    <link href="~/Content/Style.css" media="all" type="text/css" rel="stylesheet">
    <link id="Template_11347" rel="stylesheet" type="text/css" href="~/Content/Template.css"><!--[if IE 8]><link id="IE8Minus" rel="stylesheet" type="text/css" href="/Portals/allsaints-mo/Skins/Skin/css/ie8style.css" /><![endif]-->
    <link rel="stylesheet" href="~/Content/Home-Design3(1).css">

    <script async="" src="~/Scripts/analytics.js"></script>
    @*<script id="facebook-jssdk" src="~/Scripts/sdk.js"></script>*@
    <script type="text/javascript" async="" src="~/Scripts/ga.js"></script>
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/WebForms.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="~/Scripts/rotator.all.js" type="text/javascript"></script>
    <script src="~/Scripts/toggle.js" type="text/javascript"></script>
    <script src="~/Scripts/MicrosoftAjax.js" type="text/javascript"></script>

    <script src="~/Scripts/MicrosoftAjaxWebForms.js" type="text/javascript"></script>
    <script src="~/Scripts/Core.js" type="text/javascript"></script>
    <script src="~/Scripts/jQuery.js" type="text/javascript"></script>
    <script src="~/Scripts/Ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/PopupScripts.js" type="text/javascript"></script>
    <script src="~/Scripts/jQueryPlugins.js" type="text/javascript"></script>
    <script src="~/Scripts/TouchScrollExtender.js" type="text/javascript"></script>
    <script src="~/Scripts/AnimationScripts.js" type="text/javascript"></script>
    <script src="~/Scripts/RadToolTipScripts.js" type="text/javascript"></script>
    <script src="~/Scripts/RadToolTipManager.js" type="text/javascript"></script>

    <script src="~/Scripts/dnn.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.hoverIntent.min.js" type="text/javascript"></script>
    <script src="~/Scripts/dnn.servicesframework.js" type="text/javascript"></script>
    <script src="~/Scripts/dnn.jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/SearchSkinObjectPreview.js" type="text/javascript"></script>
    <script src="~/Scripts/dnncore.js" type="text/javascript"></script>
    @*<script type="text/javascript">if (typeof jQuery == 'undefined') { document.write('<script src="/Resources/libraries/jQuery/01_09_01/jquery.js" type="text/javascript"></' + 'script>'); }</script>*@
    @*<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-98284475-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();</script>*@
    <script type="text/javascript" src="~/Scripts/jquery.hoverIntent.min.js"></script>
    <script type="text/javascript" src="~/Scripts/StandardMenu.js"></script>
    <script type="text/javascript" src="~/Scripts/MegaMenu.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="~/Scripts/scrolltop.call.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.trans-banner.min.js"></script>
    <script type="text/javascript" src="~/Scripts/unoslider.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.flexslider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.accordion.js"></script>
    <script type="text/javascript" src="~/Scripts/shake.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.quovolver.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/greensock.js"></script>
    <script type="text/javascript" src="~/Scripts/layerslider.kreaturamedia.jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/layerslider.transitions.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.visible.js"></script>
    <script type="text/javascript" src="~/Scripts/digital_animate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.retinise.min.js"></script>
    <script type="text/javascript" src="~/Scripts/initWidgets.js"></script>
    <script src="~/Scripts/WebResource.axd" type="text/javascript"></script>
    <!--[if !IE]><!-->
    <script type="text/javascript" src="~/Scripts/jquery.piechart.js"></script>
    <!--<![endif]-->
    <!--[if gte IE 9]>
    <script type="text/javascript" src="/Portals/allsaints-mo/Skins/Skin/js/jquery.piechart.js"></script>
    <![endif]-->
    <!--[if !IE]><!-->
    <script type="text/javascript" src="~/Scripts/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript">
        //Header Fixed
        jQuery(document).ready(function () {
            if ($(window).width() >= 1140) {
                $("#skin_menu").scrollToFixed();
            };
        });
    </script>
    <script type="text/javascript">
        $(function () {
            if (typeof dnn != "undefined" && typeof dnn.searchSkinObject != "undefined") {
                var searchSkinObject = new dnn.searchSkinObject({
                    delayTriggerAutoSearch: 400,
                    minCharRequiredTriggerAutoSearch: 2,
                    searchType: 'S',
                    enableWildSearch: true,
                    cultureCode: 'en-US',
                    portalId: -1
                }
                );
                searchSkinObject.init();

                // attach classic search
                var siteBtn = $('#dnn_dnnSEARCH_SiteRadioButton');
                var webBtn = $('#dnn_dnnSEARCH_WebRadioButton');
                var clickHandler = function () {
                    if (siteBtn.is(':checked')) searchSkinObject.settings.searchType = 'S';
                    else searchSkinObject.settings.searchType = 'W';
                };
                siteBtn.on('change', clickHandler);
                webBtn.on('change', clickHandler);
            }
        });
    </script>
    <script type="text/javascript" src="~/Scripts/jquery.marquee.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
            function () {
                //$('.snews_marquee_style').marquee({
                //    direction: 'left',
                //    duplicated: true,
                //    speed: $('#dnn_ctr11844_ViewScrolling_News_HdnSpeedInfo').val(),
                //    pauseOnHover: true,
                //    delayBeforeStart: 0,
                //    startEmpty: false,
                //    rssfrequency: 1,
                //    gap: 10
                //});

                //var bgcolor = $('#dnn_ctr11844_ViewScrolling_News_HdnBgColor').val();
                //var ForeColor = $('#dnn_ctr11844_ViewScrolling_News_HdnForeColor').val();
                //$('.news_scroll h3').css({ 'background-color': bgcolor, 'color': ForeColor });
                //var Marqueebgcolor = $('#dnn_ctr11844_ViewScrolling_News_HdnMarqueeBgColor').val();
                //var MarqueeForeColor = $('#dnn_ctr11844_ViewScrolling_News_HdMarqueeForeColor').val();
                //$('.snews_marquee_style').css({ 'background-color': Marqueebgcolor, 'color': MarqueeForeColor });
            }
        );
    </script>
    <!--<![endif]-->
    <!--[if IE 9]>
    <script type="text/javascript">
    //Disable Animation:
    jQuery(document).ready(function() {
         $(".animation").css({"opacity": "1"});
    });
    </script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    @*<script type="text/javascript">//<![CDATA[
        var theForm = document.forms['Form'];
        if (!theForm) {
            theForm = document.Form;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
        //]]></script>*@
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        #dnn_cp_RibbonBar_ddlMode_DropDown > div > div > div.jspPane > ul > li:nth-child(4) {
            display: none;
            height: 0px !important;
        }

        .fancybox-margin {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <form method="post" action="" id="Form" enctype="multipart/form-data">

        <div id="ControlPanelWrapper">

        </div>
        <div class="skin_wrapper flexiWeb_skin">
            <section class="mobile_user">
                <div class="clearafter">
                    <div class="language_position">
                        <div class="language-object">
                        </div>
                    </div>
                    <div class="user_style">
                        <a id="" title="Login" class="Login" rel="nofollow" onclick="this.disabled=true;" href="#">Login</a>
                    </div>
                </div>
            </section>
            <!--start skin header-->
            <header class="skin_header">
                <div class="skin_width clearafter">
                    <div class="logo_style">
                        <a id="dnn_dnnLOGO_hypLogo" title="__ Catholic Parish " href="#"><img id="dnn_dnnLOGO_imgLogo" src="" alt="__ Catholic Parish "></a>
                    </div>
                    <!--start user bar-->
                    <div class="user_bar">
                        <div class="user_box clearafter">
                            <div class="language_position">
                                <div class="language-object">

                                </div>
                            </div>
                            <div class="user_style">
                                <a id="" title="Login" class="Login" rel="nofollow" onclick="this.disabled=true;" href="">Login</a>
                            </div>

                        </div>
                        <div class="headerright_pane">
                            <div id="dnn_HeaderRightPane" class="headerrightpane DNNEmptyPane"></div>
                        </div>
                    </div>
                    <!--end user bar-->
                    <div class="headerpane_style">
                        <div id="dnn_HeaderPane" class="headerpane">
                            <div class="DnnModule DnnModule-DNN_HTML DnnModule-11355">
                                <a name="11355"></a>
                                <div class="Invisible_container">
                                    <div id="dnn_ctr11355_ContentPane">
                                        <!-- Start_Module_11355 --><div id="dnn_ctr11355_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                            <div id="dnn_ctr11355_HtmlModule_lblContent" class="Normal">
                                                <div class="right_contact clearafter">
                                                    <div class="Social-Links"><a href="" target="_blank">Mass Times</a> | <a href="">Contact Us</a> | <a href="">Calendar</a> | <a href="">Bulletins</a></div>
                                                </div>
                                            </div>
                                        </div><!-- End_Module_11355 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--end skin header-->
            <!--start skin menu-->
            <section id="skin_menu" style="z-index: 1000; position: static; top: 120px;" class="">
                <div class="menu_bar skin_width clearafter">
                    <div id="Search">
                        <span id="dnn_dnnSEARCH_ClassicSearch">
                            <span class="searchInputContainer" data-moreresults="See More Results" data-noresult="No Results Found">
                                <input name="dnn$dnnSEARCH$txtSearch" type="text" maxlength="255" size="20" id="dnn_dnnSEARCH_txtSearch" class="NormalTextBox" autocomplete="off" placeholder="Search...">
                                <a class="dnnSearchBoxClearText"></a>
                            </span>
                            <a id="dnn_dnnSEARCH_cmdSearch" class="searchcss" href="#">Search</a>
                        </span>

                    </div>
                    <!--mobile menu button-->
                    <div class="mobile_nav"><a href="#" class="menuclick"><img alt="Menu" class="click_img" src=""></a></div>
                    <nav class="menu_box">
                        <div id="standardMenu">
                            <ul class="rootMenu">
                                <li class="item selected first breadcrumb child-1"><a href="#"><span>Home</span></a></li>
                                <li class="item haschild child-2" aria-haspopup="true" role="menuitem">
                                    <a><span>Our Parish<i class="navarrow"></i></span></a><div class="subMenu">
                                        <ul>
                                            <li class="item first child-1" aria-haspopup="false" role="menu"><a href="#"><span>Pastoral Leadership</span></a></li>
                                            <li class="item child-2" aria-haspopup="false" role="menu"><a href="#"><span>History</span></a></li>
                                            @*<li class="item child-3" aria-haspopup="false" role="menu"><a href="#"><span>Cemetery</span></a></li>
                                            <li class="item child-4" aria-haspopup="false" role="menu"><a href="#"><span>Our Lady of Lourdes Grotto</span></a></li>*@
                                            <li class="item last child-5" aria-haspopup="false" role="menu"><a href="#"><span>Contact Us</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                @*<li class="item haschild child-3" aria-haspopup="true" role="menuitem">
                                    <a><span>Our Faith<i class="navarrow"></i></span></a><div class="subMenu">
                                        <ul>
                                            <li class="item first child-1" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Our-Faith/Why-Catholic"><span>Why Catholic?</span></a></li>
                                            <li class="item child-2" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Our-Faith/Becoming-a-Catholic-Christian"><span>Becoming a Catholic Christian</span></a></li>
                                            <li class="item child-3" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Our-Faith/Sacraments"><span>Sacraments</span></a></li>
                                            <li class="item last child-4" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Our-Faith/Returning-to-the-Church"><span>Returning to the Church?</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item haschild child-4" aria-haspopup="true" role="menuitem">
                                    <a><span>Life Long Learning<i class="navarrow"></i></span></a><div class="subMenu">
                                        <ul>
                                            <li class="item first child-1" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/All-Saints-Full-Time-School"><span>__ Full Time School</span></a></li>
                                            <li class="item child-2" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/All-Saints-Pre-School"><span>__ Pre School</span></a></li>
                                            <li class="item child-3" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/Parish-School-of-Religion"><span>Parish School of Religion</span></a></li>
                                            <li class="item child-4" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/Liturgy-of-the-Word-for-Children"><span>Liturgy of the Word for Children</span></a></li>
                                            <li class="item child-5" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/-Catechesis-of-the-Good-Shepherd-CGS"><span>Catechesis of the Good Shepherd (CGS)</span></a></li>
                                            <li class="item child-6" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/Youth-Ministry"><span>Youth Ministry</span></a></li>
                                            <li class="item child-7" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/Young-Adult-Ministry"><span>Young Adult Ministry</span></a></li>
                                            <li class="item last child-8" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/Adult-Faith-Formation"><span>Adult Faith Formation</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item haschild child-5" aria-haspopup="true" role="menuitem">
                                    <a href="http://www.allsaints-stpeters.org/Athletics"><span>Athletics<i class="navarrow"></i></span></a><div class="subMenu">
                                        <ul>
                                            <li class="item first child-1" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Soccer"><span>Soccer</span></a></li>
                                            <li class="item child-2" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Volleyball"><span>Volleyball</span></a></li>
                                            <li class="item child-3" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Baseball"><span>Baseball</span></a></li>
                                            <li class="item child-4" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Softball"><span>Softball</span></a></li>
                                            <li class="item child-5" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Basketball"><span>Basketball</span></a></li>
                                            <li class="item child-6" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Golf"><span>Golf</span></a></li>
                                            <li class="item last child-7" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Athletics/Cardinal-Glennon-Sports-Care"><span>Cardinal Glennon Sports Care</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item child-6"><a href="http://www.allsaints-stpeters.org/Life-Long-Learning/All-Saints-Full-Time-School"><span>School</span></a></li>
                                <li class="item haschild child-7" aria-haspopup="true" role="menuitem">
                                    <a><span>Resources<i class="navarrow"></i></span></a><div class="subMenu">
                                        <ul>
                                            <li class="item first child-1" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Calendar"><span>Calendar</span></a></li>
                                            <li class="item child-2" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Facilitator-Information-and-Forms"><span>Facilitator Information and Forms</span></a></li>
                                            <li class="item child-3" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/News"><span>News</span></a></li>
                                            <li class="item haschild child-4" aria-haspopup="true" role="menuitem">
                                                <a href="http://www.allsaints-stpeters.org/Resources/Schedules"><span>Schedules<i class="subarrow"></i></span></a><ul class="level1">
                                                    <li class="item first child-1" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Schedules/Scrip"><span>Scrip</span></a></li>
                                                    <li class="item last child-2" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Schedules/Altar-Servers"><span>Altar Servers</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="item child-5" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Our-Ministries"><span>Our Ministries</span></a></li>
                                            <li class="item child-6" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Sunday-Bulletin"><span>Sunday Bulletin</span></a></li>
                                            <li class="item child-7" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Parish-Registration"><span>Parish Registration</span></a></li>
                                            <li class="item child-8" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Catholic-News"><span>Catholic News</span></a></li>
                                            <li class="item child-9" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Online-Giving"><span>Online Giving</span></a></li>
                                            <li class="item child-10" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Homilies"><span>Homilies</span></a></li>
                                            <li class="item child-11" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Wedding-Music"><span>Wedding Music</span></a></li>
                                            <li class="item child-12" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Todays-Readings"><span>Today's Readings</span></a></li>
                                            <li class="item child-13" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Scrip"><span>Scrip</span></a></li>
                                            <li class="item child-14" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Our-Outreach"><span>Our Outreach</span></a></li>
                                            <li class="item child-15" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Archdiocese-News"><span>Archdiocese News</span></a></li>
                                            <li class="item last child-16" aria-haspopup="false" role="menu"><a href="http://www.allsaints-stpeters.org/Resources/Pilgrimages"><span>Pilgrimages</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item last child-8"><a href="http://www.allsaints-stpeters.org/Jobs"><span>Jobs</span></a></li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
            </section>
            <div style="display: none; width: 1260px; height: 61px; float: none;"></div>
            <!--end skin menu-->
            <!--start skin banner-->
            <section class="skin_banner">
                <div class="skin_width">
                    <div id="dnn_BannerPane" class="bannerpane">
                        <div class="DnnModule DnnModule-Scrolling_News DnnModule-11844">
                            <a name="11844"></a>
                            <div class="Invisible_container">
                                <div id="dnn_ctr11844_ContentPane">
                                    <!-- Start_Module_11844 --><div id="dnn_ctr11844_ModuleContent" class="DNNModuleContent ModScrollingNewsC">                                        
                                        <div id="dnn_ctr11844_ViewScrolling_News_divinventoryselectpage" class="divinventoryselectpage table-responsive">
                                            <div class="news_scroll">
                                                <h3 class="cssSetting" style="background-color: rgb(143, 17, 17); color: rgb(255, 255, 255);">
                                                    <span id="dnn_ctr11844_ViewScrolling_News_labelName">PARISH ACTIVITIES</span>
                                                </h3>
                                                <div class="snews_marquee_style" style="background-color: rgb(255, 255, 255); color: rgb(37, 80, 61);">
                                                    <marquee direction="" scrollamount="3" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">
                                                        <ul>
                                                            <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                            <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                            <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                        </ul>
                                                    </marquee>
                                                </div>
                                                @*<div class="snews_marquee_style" style="background-color: rgb(255, 255, 255); color: rgb(37, 80, 61);">
                                                    <div style="width: 100000px; margin-left: 0px; animation: marqueeAnimation-39527480 120.074s linear 0s infinite normal none running;" class="js-marquee-wrapper">
                                                        <div class="js-marquee" style="margin-right: 10px; float: left;">
                                                            <ul class="snews_ul" id="marqueeValue">
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="js-marquee" style="margin-right: 10px; float: left;">
                                                            <ul class="snews_ul" id="marqueeValue">
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180439" target="_self"><span>QUILT SOCIAL - October 27    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/171332" target="_self"><span>Anniversary Celebration Events    <em>!</em>      </span></a></li>
                                                                <li><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleID/180543" target="_self"><span>Novena for the Healing of These Wounds    <em>!</em>      </span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                        <input type="hidden" name="dnn$ctr11844$ViewScrolling_News$HdnSpeedInfo" id="dnn_ctr11844_ViewScrolling_News_HdnSpeedInfo" value="30000">
                                        <input type="hidden" name="dnn$ctr11844$ViewScrolling_News$HdnBgColor" id="dnn_ctr11844_ViewScrolling_News_HdnBgColor" value="#8F1111">
                                        <input type="hidden" name="dnn$ctr11844$ViewScrolling_News$HdnForeColor" id="dnn_ctr11844_ViewScrolling_News_HdnForeColor" value="#ffffff">
                                        <input type="hidden" name="dnn$ctr11844$ViewScrolling_News$HdnMarqueeBgColor" id="dnn_ctr11844_ViewScrolling_News_HdnMarqueeBgColor" value="#ffffff">
                                        <input type="hidden" name="dnn$ctr11844$ViewScrolling_News$HdMarqueeForeColor" id="dnn_ctr11844_ViewScrolling_News_HdMarqueeForeColor" value="#25503d">
                                    </div><!-- End_Module_11844 -->
                                </div>
                            </div>
                        </div><div class="DnnModule DnnModule-EngageRotator DnnModule-11345">
                            <a name="11345"></a>
                            <div class="Invisible_container">
                                <div id="dnn_ctr11345_ContentPane">
                                    <!-- Start_Module_11345 --><div id="dnn_ctr11345_ModuleContent" class="DNNModuleContent ModEngageRotatorC">
                                        <div id="dnn_ctr11345_Rotator_RotatorContainer" class="engage-rotator-container">
                                            <div class="bx-wrapper" style="max-width: 1260px; margin: 0px auto;">
                                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 359px;">
                                                    <ul class="rotate-wrap" style="width: auto; position: relative; visibility: visible;">

                                                        <li style="float: none; list-style: none; position: absolute; width: 1260px; z-index: 51; display: block; opacity: 0.898876;"><a><img src="~/Content/ef0e8d74-fbd6-484f-a73f-58975ea36a22.jpg" alt="prayer chain"></a></li>

                                                        <li style="float: none; list-style: none; position: absolute; width: 1260px; z-index: 0; display: none;"><a href="http://www.allsaints-stpeters.org/Our-Faith/Becoming-a-Catholic-Christian"><img src="~/Content/3c656f6c-6dc0-4b58-8a8a-2a0ce2206399.jpg" alt="RCIA"></a></li>

                                                        <li style="float: none; list-style: none; position: absolute; width: 1260px; z-index: 0; display: none;"><a href="http://www.allsaints-stpeters.org/Resources/News/articleType/ArticleView/articleId/171332/Anniversary-Celebration-Events"><img src="~/Content/5c306dc5-655a-408f-8f82-44dd382cd02a.jpg" alt="195 anniversary"></a></li>

                                                        <li style="float: none; list-style: none; position: absolute; width: 1260px; z-index: 0; display: list-item; opacity: 0.101124;"><a href="http://www.allsaints-stpeters.org/Resources/Calendar/ModuleID/11379/ItemID/112010/mctl/EventDetails"><img src="~/Content/937acd45-c405-4e38-9977-6cadf7fb3e35.jpg" alt="QUILT SOCIAL"></a></li>

                                                    </ul>
                                                </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="http://www.allsaints-stpeters.org/">Prev</a><a class="bx-next" href="http://www.allsaints-stpeters.org/">Next</a></div></div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            /*global jQuery */
                                            jQuery(document).ready(function () {
                                                'use strict';

                                                var options = { "fx": "fade", "timeout": 4300, "continuous": false, "speed": 300, "next": "#dnn_ctr11345_Rotator_RotatorContainer .rotator-next", "prev": "#dnn_ctr11345_Rotator_RotatorContainer .rotator-prev", "pager": "#dnn_ctr11345_Rotator_RotatorContainer .rotator-pager", "height": "359px", "width": "1260px", "startingSlide": 0, "sync": true, "random": false, "fit": false, "containerResize": true, "pause": false, "pauseOnPagerHover": false, "autostop": false, "autostopCount": 0, "delay": 0, "nowrap": false, "fastOnEvent": 0, "cleartypeNoBg": false, "randomizeEffects": true, "manualTrump": true, "displayBorder": true };
                                                var sliderWrapper = jQuery('#dnn_ctr11345_Rotator_RotatorContainer .rotate-wrap');
                                                sliderWrapper.bxSlider({
                                                    slideWidth: options.width,
                                                    speed: options.speend,
                                                    mode: 'fade',
                                                    autoHover: options.pause,
                                                    infiniteLoop: !options.nowrap,
                                                    captions: true,
                                                    pager: false,
                                                    autoDelay: 5000,
                                                    pause: options.timeout,
                                                    auto: true,
                                                    onSliderLoad: function () {
                                                        $(".rotate-wrap").css("visibility", "visible");
                                                    }
                                                });
                                                if (!options.displayBorder) {
                                                    $('.bx-viewport').css({ 'border': 'none' });
                                                }
                                            });
                                        </script>
                                    </div><!-- End_Module_11345 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end skin banner-->
            <!--start main area-->
            <div class="skin_main">
                @RenderBody()
            </div>
            <!--end main area-->
            <!--start footer top-->
            <section class="footer_top">
                <div class="skin_width">
                    <div class="footerpane_style">
                        <div class="cs-content-columns">
                            <div class="cs-content-four-column">
                                <div id="dnn_Footer1" class="cs-content-four-column-cp DNNEmptyPane"> </div>
                            </div>
                            <div class="cs-content-four-column">
                                <div id="dnn_Footer2" class="cs-content-four-column-cp DNNEmptyPane"> </div>
                            </div>
                            <div class="cs-content-four-column">
                                <div id="dnn_Footer3" class="cs-content-four-column-cp DNNEmptyPane"> </div>
                            </div>
                            <div class="cs-content-four-column">
                                <div id="dnn_Footer4" class="cs-content-four-column-cp DNNEmptyPane"> </div>
                            </div>
                            <div class="clearFloat"></div>
                        </div>
                        <div id="dnn_FooterPane" class="cs-content-footer-cp">
                            <div class="DnnModule DnnModule-DNN_HTML DnnModule-14836">
                                <a name="14836"></a>
                                <div class="Invisible_container">
                                    <div id="dnn_ctr14836_ContentPane">
                                        <!-- Start_Module_14836 --><div id="dnn_ctr14836_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                            <div id="dnn_ctr14836_HtmlModule_lblContent" class="Normal">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <h3>Contact Us</h3>
                                                        <p>
                                                            <strong>__ Catholic Church</strong><br>
                                                            Address<br>
                                                            <strong>Phone:</strong>&nbsp;&nbsp;636-397-1440<br>
                                                            <strong>Fax:&nbsp;</strong>636-397-1421&nbsp;
                                                        </p>
                                                        <p>
                                                            <strong>Office Hours</strong><br>
                                                            <strong>Monday – Friday</strong><br>
                                                            9:00 am – 4:00 pm
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <p>
                                                            @*<iframe allowfullscreen="" frameborder="0" height="200" scrolling="no" src="~/Content/embed.html" style="border:0" width="100%"></iframe>*@
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End_Module_14836 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end footer top-->
            <!--start footer-->
            <footer class="skin_footer">
                <div class="skin_width clearafter">
                    <div class="footer_left">
                        <span id="dnn_dnnCOPYRIGHT_lblCopyright" class="Footer">Copyright 2018 by __ Catholic Church and School</span>
                        |
                        <a id="dnn_dnnPRIVACY_hypPrivacy" class="Footer" rel="nofollow" href="http://www.allsaints-stpeters.org/Privacy">Privacy Statement</a>
                        |
                        <a id="dnn_dnnTERMS_hypTerms" class="Footer" rel="nofollow" href="http://www.allsaints-stpeters.org/Terms">Terms Of Use</a>

                        @*<div>
                            <a href="http://www.catholicchurchwebsites.com/" target="_blank" class="Footer"> Catholic Website Design by Connecting Members  </a>
                            |
                            <a href="http://www.catholicchurchwebsites.com/" target="_blank" class="Footer">Catholic Church Website Design</a>
                            |
                            <a href="http://www.catholicchurchwebsites.com/Catholic-School-Website-Design.aspx" target="_blank" class="Footer">Catholic School Website Design</a>
                        </div>*@
                    </div>

                    <div class="footer_right">
                        <div id="dnn_FooterRightPane" class="footerrightpane DNNEmptyPane"></div>
                    </div>
                </div>
            </footer>
            <!--end footer-->
            <a href="#top" id="top-link" title="Top" style="display: none;"> </a>
        </div>

        <input name="ScrollTop" type="hidden" id="ScrollTop" value="0">
        @*<input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off" value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`6066`}">
        <input name="__RequestVerificationToken" type="hidden" value="wH0pN387fi_uhFS1_RefoBj9Hnm7N8e-XpA_u9RDYU8H6pKF6bMoKyDOcCIvJYIHf3_ZEzgAU6lc6gY0Cw06k9qD5Ei56_BA70-FED0QQrQfczhVhfTN3iyWuWc1">*@

        <div id="RadToolTipWrapper_dnn_ctr11353_ViewEvents_toolTipManager1051536591363055" class="RadToolTip RadToolTip_Default Eventtooltip rtShadow" unselectable="on" style="position: absolute; z-index: 8000; visibility: hidden; left: 310px; top: 972px; display: none;">
            <div class="rtCallout rtCalloutTopCenter">&nbsp;</div><table class="rtWrapper rtShadow">
                <tbody>
                    <tr><td class="rtWrapperTopLeft">&nbsp;</td><td class="rtWrapperTopCenter"><div class="rtTitlebar" style="display: none;"></div></td><td class="rtWrapperTopRight">&nbsp;</td></tr>
                    <tr>
                        <td class="rtWrapperLeftMiddle">&nbsp;</td>
                        <td class="rtWrapperContent" valign="top">
                            <div>
                                <table cellspacing="0" class="ThemeEvents Eventtooltiptable">
                                    <tbody>
                                        <tr><td class="ThemeEvents Eventtooltipheader">LIVING IN THE POWER OF THE HOLY SPIRIT BIBLE STUDY  - 9/14/2018 6:00 PM - 9/14/2018 6:30 PM</td></tr>
                                        <tr>
                                            <td class="ThemeEvents Eventtooltipbody">
                                                <p><strong>LIVING IN THE POWER OF THE HOLY SPIRIT BIBLE STUDY </strong></p>
                                                <p><strong>We will begin Bible Study on September 14th. The Bible Study will be on ‘Living in the Power of the Holy Spirit’, it is a 9 week course. </strong></p>
                                                <p><strong>Anyone interest in taking this Bible Study should contact Juanita Brush at 636-397-1047.</strong></p>
                                                <p><strong>It is on Friday Morning from 9:00 to 11:00 A.M. in the Lower Level of the Parish Office.</strong>&nbsp;</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td class="rtWrapperRightMiddle">&nbsp;</td>
                    </tr>
                    <tr><td class="rtWrapperBottomLeft">&nbsp;</td><td class="rtWrapperBottomCenter">&nbsp;</td><td class="rtWrapperBottomRight">&nbsp;</td></tr>
                </tbody>
            </table>
        </div>
    </form>


    @*<!-- Added by Hilbert Solutions, LLC to Support Logging of Events to Intercom.io -->
    <script>//Captures any button with the .dnnPrimaryAction class. This includes the Events Module Update/Add
         var itemsPrimary = document.querySelectorAll(".dnnPrimaryAction");

         for (var i = 0; i < itemsPrimary.length; i++) {
             var el = itemsPrimary[i];

            //bubbling phase
            el.addEventListener("click", IntercomCapture, false);
         }

         //Captures any button with the .CommandButton class. This includes the Articles Module Update/Add
         var itemsCommand = document.querySelectorAll(".CommandButton");

         for (var i = 0; i < itemsCommand.length; i++) {
             var el = itemsCommand[i];

             //bubbling phase
             el.addEventListener("click", IntercomCapture, false);
         }

        function IntercomCapture(e) {

            //Testing for the Events Module Add/Update
            if (e.currentTarget.id.indexOf('EditEvents_updateButton') !== -1) {
                Intercom('trackEvent', 'Events Calendar');
            }

            //Testing for the Articles ModuleAdd/Update
            if (e.currentTarget.id.indexOf('NewsArticles_ucSubmitNews_cmdSaveArticle') !== -1) {
                Intercom('trackEvent', 'News Article');
            }

            //Testing for the Rotator Module Add/Update
            if (e.currentTarget.id.indexOf('RotatorEdit') !== -1) {
                Intercom('trackEvent', 'Rotator');
            }

            //Testing for the Pages Add/Update
            if (e.currentTarget.id.indexOf('SMBManageTabs_cmdUpdate') !== -1) {
                Intercom('trackEvent', 'Page Update');
            }
            //Testing for the Pages Add/Update
            if (e.currentTarget.id.indexOf('AddPage_cmdAddPage') !== -1) {
                Intercom('trackEvent', 'Page Update');
            }
        }</script>
    <!-- END OF CHANGES by Hilbert Solutions, LLC to Support Logging of Events to Intercom.io -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1702292-25', 'auto');
  ga('send', 'pageview');</script>*@

</body>
</html>