@{
}

<div class="container-wrap">
    <div id="fh5co-intro">
        <div class="row animate-box">
            <div class="col-md-12 col-md-offset-0 text-center">
                <h2>St Francis catholic family</h2>
                <span>About St Francis catholic parish</span>
            </div>
        </div>
    </div>
</div>