@{
}

<div class="container-wrap">
    <div id="fh5co-about">
        <div class="row">
            <p>Payment portal will be integrated here but for now you can pay/transfer into the parish account</p>
            <b>A/c Number :</b>
            <br />
            <b>A/c Name : </b>
            <br />
            <b>Bank Name : </b>
        </div>
    </div>
</div>