@{
    var stationName = ViewBag.StationName;
    var stationId = ViewBag.StationId;
}

<div class="container-wrap">
    @Html.Partial("StationMenuBar")
    <div id="fh5co-intro">
        <div class="row animate-box">
            <div class="col-md-12 col-md-offset-0 text-center">
                <p>@stationName Page is Still under Construction</p>
            </div>
        </div>
    </div>
</div>