@using StFrancisChurch.Models.Utility
@{
}

<div class="container-wrap">
    <div id="fh5co-intro">
        <div class="row animate-box">
            <div class="col-md-12 col-md-offset-0 text-center">
                <p>Station</p>
            </div>
        </div>
    </div>
</div>