@{
    ViewBag.Title = "Dashboard";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Parish Dashboard
    </div>
    <div class="card-body">
        Dashboard is still under construction
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{

    <script>     
    </script>
}